#deathAnimation
  background-image: url("/img/death0.jpg")
  animation: jumpscare 2s

@keyframes jumpscare
  0%
    transform: rotate(0deg)
  25% 
    transform: rotate(-45deg) scale(2,2)
  50%
    transform: rotate(45deg) scale(3,3)
  75% 
    transform: rotate(-45deg) scale(2,2)
  100%
    transform: rotate(45deg) scale(4,4)