#deathAnimation
  background-image: url(/img/death0.png);
  background-size: 200px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  left: 600px;
  top: 350px;
  width: 250px;
  height: 250px;
  overflow: auto;
  display: none;
  animation: jumpscare .5s linear alternate forwards


@keyframes jumpscare
  0%
    transform: rotate(0deg)
  25% 
    transform: rotate(-45deg) scale(2,2)
  50%
    transform: rotate(45deg) scale(3,3)
  75% 
    transform: rotate(-45deg) scale(3,3)
  100%
    transform: rotate(45deg) scale(4,4)

#gameOver
  position: absolute
  background-color: black
  text-align: center
  color: red
  font-size: 20em
