body
  margin: 0
  color: red;

#gameBackground
 background-image: url("/img/mainbckgrnd.png")
 width: 100vw
 height: 100vh

.componentView
  background-image: url("/img/cam1.png")
  width: 400px
  height: 400px
