body
  margin: 0
  color: red;

#mainContainer
 position: absolute
 max-width: 100%
 max-height: 100%

#gameBackground
 background-image: url("/img/mainbckgrnd.png")
 width: 100vw
 height: 100vh
 position: absolute

.componentView
  width: 400px
  height: 400px

#kitchen
	background-image: url("/img/cam1.png")

#mainHall
	background-image: url("/img/cam2.png")

#corner
	background-image: url("/img/cam3.png")

#lounge
	background-image: url("/img/cam4.png")

#creepyHallway
	background-image: url("/img/cam5.png")

#map
	background-image: url("/img/map.svg")
	background-size: contain
	background-repeat: no-repeat
	width: 125px 
	height: 125px
	position: absolute

	
