body {
  margin: 0;
  color: red; }

#mainContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative; }
  #mainContainer #map {
    background-image: url("/img/map.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 1.5em;
    right: 1em; }
  #mainContainer #gameBackground {
    background-image: url("/img/camfeeds/front-desk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh; }
  #mainContainer .componentView {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 550px;
    height: 380px;
    position: absolute;
    top: 62%;
    left: 54%;
    transform: translate(-50%, -50%); }

#kitchen {
  background-image: url("/img/camfeeds/kitchen.jpg"); }

#mainHall {
  background-image: url("/img/camfeeds/main-hall.jpg"); }

#corner {
  background-image: url("/img/camfeeds/corner.jpg"); }

#lounge {
  background-image: url("/img/camfeeds/lounge.jpg"); }

#creepyHallway {
  background-image: url("/img/camfeeds/creepy-hall.jpg"); }
