body {
  margin: 0;
  color: red; }

#gameBackground {
  background-image: url("/img/mainbckgrnd.png");
  width: 100vw;
  height: 100vh; }

.componentView {
  width: 400px;
  height: 400px; }

#kitchen {
  background-image: url("/img/cam1.png"); }

#mainHall {
  background-image: url("/img/cam2.png"); }

#corner {
  background-image: url("/img/cam3.png"); }
